

input , select , textarea{
    height: 40px;
    border: 1px solid rgb(86, 86, 86);
    padding-left: 15px;
    width: 100%;
}

textarea {
    min-height: 100px;
    padding: 15px;
}

input:focus , select:focus , textarea:focus{
    border: 1px solid rgb(34, 34, 34);
    outline: none;
}


.primary-contained-btn{
    background-color: var(--primary);
    color: white;
    padding: 8px 20px;
    text-transform: uppercase;
}

.primary-outlined-btn{
    background-color: white;
    color: var(--primary);
    padding: 8px 20px;
    text-transform: uppercase;
    border: 1px solid var(--primary);
}